.nav-bar {
  background-color: #0097F4 !important;
  &__button {
    color: #FFFFFF;
    text-decoration: none;

    &_login {
      justify-self: flex-end;
      display: inline-block;
      margin-left: auto;

      > a {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
}
